{% import "./macros/formGroup.twig" as formGroup %}

<template>
<div>
  {% verbatim %}
   <div>{{state}}</div>
   <div>{{computedState}}</div>
{% endverbatim %}
  {{ APP_CONFIG.server_origin }}

    <el-form :model="model" >
        {{ formGroup.renderSet("config.row.properties", "model", 1,3, 'el-col', 'template') }}
    </el-form>
</div>
</template>

<script type="module">
  import { formModel, comHelper } from '{{ APP_CONFIG.server_origin }}/public/expose/main.js';

  export default {
    props: {
      modelValue: null,
    },
    emits: [
      'model:update',
    ],
    mounted() {
      this.$emit('init', this);
    },
    created() {
      const { provide } = global.Vue;
      provide('curFormCon', this)
    },
    setup(props, { emit }) {

      const { ref, inject, watch, getCurrentInstance } = global.Vue;
      const globalStore = inject('globalStore');
      const curFormCon = getCurrentInstance().ctx;
      // console.log('curFormCon', curFormCon)
      const tableData = ref([]);

      const config = ZY.JSON5.parse(`{{source}}`);
      // console.log('config', config)

      const obj = formModel.createFormModel(config.row);

      let templateFun = ''
      for (let funName in ZY.lodash) {
        templateFun = templateFun + `
        function ${funName}(...args) {
          return ZY.lodash.${funName}(...args)
        }
      `
      }

      let commonFun = `
        ${templateFun}

        function LENGTH(v) {
          if (v && v.length) {
            return v.length
          }
          return -1
        }
        function VAL(v, defaultVal) {
          return ZY.lodash.get($root, v, defaultVal)
        }
      `

    let computedLinks = {
    }

    function formDefTravase(formDef = {}, computedLinks) {
      if (formDef.type === 'object') {
        Object.entries(formDef.properties)
                .forEach(([ key, formDefProp ]) => {
                  if (formDefProp.type !== 'array') {
                    if (formDefProp.computedProp) {
                      const linked = formDefProp.computedProp
                      if (!computedLinks[linked]) {
                        computedLinks[linked] = []
                      }
                      computedLinks[linked].push({
                        key
                      })
                    }
                  } else {
                    formDefTravase(formDefProp.items, computedLinks);
                  }
                });
      }
    }

    formDefTravase(config.row, computedLinks);
    // console.log(computedLinks)

    let ret = {
    }
    let computed = {}
    for (let key in config.computed) {
      computed[key] = new Function('model', 'options', `
        let $root = options.context
        ${commonFun}

        function MODEL(v, defaultVal) {
          return ZY.lodash.get(model, v, defaultVal)
        }
        return () => {
          // console.log('computed ${key} build', options)
          options.beforeBuild('${key}')
          return ${config.computed[key]}
        }
      `)
    }


    let model = null
    ret = globalStore.run(config.service, 'initModel', {
      plain: obj,
      computed,
      callback: {
        onComputedChange(key, newVal) {
          // console.log('onComputedChange', key, newVal)
          let findKeys = computedLinks[key]
          if (Array.isArray(findKeys)) {
            findKeys.forEach(findKeyItem => {
              comHelper.autoVal({
                obj: model,
                key: findKeyItem.key,
                base: model,
                computedVal() {
                  return newVal
                }
              })
            })
          }
        }
      },
      context: curFormCon
    })
    // console.log('ret', config, ret)

    model = ret.model

    watch(model, newVal => {
      // console.log('model.content', newVal)
      emit('model:update', newVal);
    });


    function dxValue(v, ...args) {
      let fun = new Function('valueTemplate', '$root', `
        ${templateFun}
        function LENGTH(v) {
          if (v && v.length) {
            return v.length
          }
          return -1
        }
        function VAL(v, defaultVal) {
          return ZY.lodash.get($root, v, defaultVal)
        }
        function MODEL(v, defaultVal) {
          return ZY.lodash.get($root.model, v, defaultVal)
        }
        return eval(valueTemplate)
      `)
      return fun(v, ret)
    }

    function dxEval(v, context) {
      let trueContext = context ? context : this;
      let fun = new Function('valueTemplate', '$context', `
      // let $config = $context.config


      function VAL(v, defaultVal) {
        return ZY.lodash.get($context, v, defaultVal)
      }

      ${templateFun}
      return eval(valueTemplate)
    `)
      return fun(v, trueContext)
    }

    return {
      config,
      model,
      tableData,
      state: ret.model,
      computedState: ret.computedModel,
      defaultTo: ZY.lodash.defaultTo,
      get: ZY.lodash.get,
      dxValue,
      dxEval
    };
  },
};
</script>
